<ion-view view-title="Catálogo">
  <ion-content class="catalogo main-bg-color">
    <div class="row" ng-repeat='category in categories'>
      <div class="category col col-50" ng-repeat='cat in category track by $index'>
        <div class="holder">
          <a ng-href="#/app/catalogo/{{cat.$id}}/{{cat.name}}">
            <img ng-src="{{ cat.imageUrl}}/{{$index}}">
            {{ cat.name }}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
