<ion-view view-title="{{categoryName}}">
  <ion-content class=" has-subfooter main-bg-color category">
    <ion-list>
      <ion-item class="product" ng-repeat="product in products">
        <div class="row">
          <div class="col-67">
            <span class="thumb"><img src="http://placehold.it/50x50"></span>
            <div class="product-info">
              <span class="name">{{product.name}}</span>
              <span class="price">${{product.price.toFixed(2)}}</span>
              <span class="volumen">{{product.volumen}}</span>
            </div>
          </div>
          <div class="col-33">
            <div class="add-to-cart">
              <div class="btn delete"><span>-</span></div>
              <div class="actual"><span>0</span></div>
              <div class="btn add"><span>+</span></div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>
</ion-view>
