<ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <!-- TABS -->
        <ion-tabs class="tabs-positive tabs-icon-top">

          <ion-tab title="Promociones" icon-off="ion-search" icon-on="ion-search" href="#/app/promociones">
            <ion-nav-view name="promoContent"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Cat&aacute;logo" icon-off="ion-ios-glasses" icon-on="ion-ios-glasses" href="#/app/catalogo">
            <ion-nav-view name="catContent"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Pedidos" icon-off="ion-ipod" icon-on="ion-ipod" href="#/app/pedidos">
            <ion-nav-view name="pedidosContent"></ion-nav-view>
          </ion-tab>

        </ion-tabs>

      </ion-side-menu-content>

       <!-- Side Menu (left) -->
      <ion-side-menu side="left" class="dark-bg">
        <ion-header-bar class="bar bar-dark item-input-inset dark-bg">
          <h1 class="title">Men&uacute;</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list class="list dark-list stable" >
            <ion-item menu-close href="#/app/promociones">
              Promociones
            </ion-item>
            <ion-item menu-close href="#/app/catalogo">
              Cat&aacute;logo
            </ion-item>
            <ion-item menu-close href="#/app/pedidos">
              Pedidos
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
