<!-- <ion-view view-title="Promociones" class="promociones ">
  <ion-content scroll="false" class="main-bg-color">
    <ion-slide-box class="carousel" auto-play="true">
      <ion-slide>
        <div class="box"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
</ion-view> -->


<ion-view view-title="Promociones" class="promociones ">
  <ion-content scroll="false" class="main-bg-color">
    <ion-slide-box ng-show='loaded' auto-play="true" does-continue="true" class="carousel">
      <ion-slide ng-repeat='promo in promociones track by $index'>
        <div class="box"><img ng-src='{{ promo.promoImage }}/{{$index}}' /></div>
      </ion-slide>
    </ion-slide-box>
</ion-view>

