/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// overwrite default color
$positive:                        #A00025 !default;
$dark:                            #A00025 !default;
$energized:                       #D4B036 !default;
$mainBgColor:                     #fff;
$inputBgColor:                    #222129;
$darkBorderColor:                #BD042F;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

@import "tepisto.scss";

body{
  color: #fff;
}

a {
  text-decoration: none;
}
// common class
.pull-right {
  float: right;
}

.flex-wrap {
  flex-wrap: wrap;

  .col-50 {
    padding: 5px;
  }
}

// main background color
.main-bg-color {
  background-color: $mainBgColor;
}

// dark input
.dark-input {
  margin: 5px 0;
  background-color: $inputBgColor;
  border: none;

  input {
    color: $light;
  }
}

// no background
.no-bg {
  background: none;
}

// no border
.no-border {
  border: none;
}

// header
.button .header-badge {
  color: $light;
  position: absolute;
  top: 0.2em;
  left: 0.7em;
  font-size: 0.8em;
}

// login page
.social-button {
  color: $stable;
  i {
    font-size: 1.8em;
    vertical-align: middle;
    margin-left: 0.5em;
    color: $stable;
  }

  span {
    vertical-align: middle;
  }
}

.facebook-login {
  background: #3B5999;
}

.twitter-login {
  background: #00ACEE;
}

// product style
.product-title {
  color: $stable;
  font-size: 1.2em;
  display: block;
  padding: 3px;
}
.title-border {
  border: 1px solid $stable;
  padding: 3px;
}

.old-price {
  color: #8f8f8f;
  text-decoration: line-through;
  font-size: 0.8em;
}
.slider-pager .slider-pager-page {
  // color: $light;
}

.item {
  p {
    color: $stable;
  }
}

.item-option {
  font-size: 1.5em;
  height: 20px;
  margin: 0 5px;
}

.item-size {
  height: auto;
  padding: 3px;
  border: 1px solid $stable;
  font-size: 1em;
}

.product-detail {
  .old-price {
    font-size: 0.8em;
  }
}

// cart page
.cart {
  .col {
    padding-left: 0;
  }
  select {
    padding: 0.2em;
    vertical-align: middle;
  }
  .trash {
    font-size: 1.8em;
    vertical-align: middle;
  }
}


// dark list of items
.dark-list {
  .item {
    background: none;
    border-color: $darkBorderColor;
    color: $stable;

    &.item-divider {
      background: $mainBgColor;
    }

    .item-content {
      background: none;
      color: $stable;
    }
  }
}

// dark form on checkout page
.dark-form {
  .row {
    .col {

    }
  }
  input {
    padding: 3px;
    border: 2px solid $darkBorderColor;
    width: 100%;
    box-sizing: border-box;
    background: none;
  }

  input + input {
    margin-top: 5px;
  }
}

// overwrite radio button style
.item-radio {
  .radio-icon {
    color: $stable;
  }

  input:checked + .radio-content .item-content {
    background: $dark;
  }
}
