$purple: #4A40C1;


.tabs{

}

.promociones {

  .carousel {
    height: 100%;
    text-align: center;
    // background: #ccc;

    .box{
      display: block;
      height: auto;
      width: 90vw;
      margin: 10vw auto;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
      box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
      border-radius: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;

    }

  }
}

.catalogo {

  .category {

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3%;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;

    .holder{
      border-radius: 5px;
      background: #bababa;
      padding: 5%;
      text-align: center;
      box-shadow:#808080 1px 1px 0;


      a {
        color:#616161;
        text-shadow:#e0e0e0 1px 1px 0;
        font-size: 18px
      }

      img {
        width: 100%;
        height: 25vw;
      }
    }
  }
}


.category {
  .product {

    .thumb {
      float: left;
      margin-right: 10px;

    }
    .product-info {

      .name{
        font-weight: bold;
        display: block;
      }

      .price{
        margin-top: 5px;
        display: inline-block;
        font-size: 28px;
        color: $purple;

      }
      .volumen{
        color: #8C8C8C;
      }

    }

    .add-to-cart{
      // float: left;
      // padding: 5vh;
      // display: -webkit-flex;
      // display: flex;
      .actual{
        float: left;

        span{
          display: inline-block;
          padding: 8px 0px;
          font-size: 26px;
          width: 12vw;
          text-align: center;
          color: $purple;
          font-weight: bold;
         }
      }
      .btn {
        background: #ef473a;
        border-radius: 50px;
        height: 35px;
        width: 35px;
        display: inline-block;
        position: relative;
        text-align: center;
        float:left;
        -webkit-box-shadow: 2px 2px 0px -1px rgba(175,19,8,1);
        -moz-box-shadow: 2px 2px 0px -1px rgba(175,19,8,1);
        box-shadow: 2px 2px 0px -1px rgba(175,19,8,1);

        span {
          color: #fff;
          font-size: 34px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-weight: bold;
          line-height: 0.8em;
          margin: auto;

        }
      }
    }

  }
}
